
.floatL {
  float: left;
  margin-left: 10px;
}
.red {
  color:  #c84033!important;
}
body, html {
  font-size: 12px!important;
}
.round-button {
  background-color: #c84033!important;
  border-radius: 50px;

}
.round-button-link  a {
  color: #FFF!important;

}
.button-red {
  background-color: #c84033!important;
}
.uk-link, a {
  color: #c84033!important;
}
 a:hover {
  color: #8c1813!important;
}
.uk-label {
  background-color: #c84033!important
}

.contact-icon {
  text-align: center;
  color: #c84033;
  font-size: 3em;
  padding-right: 20px;
}
.text-common p, .text-common {
  color: #000!important;
  font-size: calc(.00485*100vw + 14px)!important;
  letter-spacing: .025em!important;
  line-height: 1.7!important;
  font-weight: 400!important;
}
.uk-card-default {
  color: #000!important;
}
.white {
  background: #FFF!important;
}
.logo-header-navbar {
  height: 20px;
}
.logo-navbar-dropbar {
  width: 119px;
}
.uk-navbar-dropdown-width-6:not(.uk-navbar-dropdown-stack) {
  width: 1600px!important;
}
.uk-navbar-dropdown {
  width: 100%;
  left: 0!important;
}

.lnd-carusel-title {
  margin-left: 15%;
}

@media screen and (max-width: 640px) {
  .main-container-eat {
    padding-left:30px; padding-top: 40px; padding-bottom: 50px; padding-right:30px;
  }
  .cover-adoptation-eat{
    margin-left:-30px; margin-right:-30px; margin-top:-40px;
  }
  .padding-left-header-nav {
    padding-left: 30px;
  }
  .padding-right-header-nav {
    padding-right: 30px;
  }
  .nav-contact-button {
    display: none;
  }
}
@media screen  and (min-width: 641px) {

.main-container-eat {
  padding-left:20px; padding-top: 160px; padding-bottom: 100px; padding-right:20px;
  }
  .cover-adoptation-eat{
    margin-left:-20px; margin-right:-20px; margin-top:-160px;
  }

  .nav-contact-button {
    padding: 5px 16px 4px;
    background: #c84033!important;
  }
  .padding-left-header-nav {
    padding-left: 70px;
  }
  .padding-right-header-nav {
    padding-right: 70px;
  }
}
