.neo {
  border-radius: 50px;
background: #f6f5f0;
box-shadow:  3px 3px 5px #d1d0cc,
             -3px -3px 5px #ffffff;
}
.neoBg {
  background: #f6f5f0;
}
html, body {
  background: #f6f5f0!important;
  height: 100%;
}

.social-button-big {
  width: 60px!important;
  height: 60px!important;
}
.marignZero {
  margin-top: 0!important;
  margin-bottom: 0!important;
}
